/* mobile first style */
* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.container img {
    width: 100%;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
}

/* Header */
.header {
    background-color: #6496ED;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.puppymissing {
visibility: hidden;
}
.morepuppy {
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 700;
}
/* responsive styling for min width of  768px */
@media (min-width: 768px) {
    .header {
        color: red;
    }
   
    .container {
        width: 768px;
        display: flex;
        justify-content: space-between;
    }
    .puppy3 {
        margin-right: 15px;
    }
    .puppy4 {
        margin-left: 15px;
    }
    .puppymissing{
        width: 310px;
        height: 246px;
        background-color: blue;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 65px;
        visibility: visible;
        margin: 0 15px;
    }
    .footer {
        margin-top: 30px;
    }
    .upperpuppy {
        margin-top: 30px;
    }
}

/* responsive stying for min width of 980px */
@media (min-width: 980px) {
    .header {
        color: black;
    }
   
    .container {
        width: 980px;
        display: flex;
        justify-content: space-between;
    }

    .puppymissing {
        width: 310px;
        height: 310px;
        background-color: pink;
        text-align: center;
        font-size: 65px;
        visibility: visible;
    }
    .footer {
        margin-top: 30px;
    }
    .upperpuppy {
        margin-top: 30px;
    }
}